@CHARSET "ISO-8859-1";

.building_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 0 transparent; width:25px; height:25px;}
.dashboard_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -25px transparent; width:25px; height:25px;}
.overview_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -50px transparent; width:25px; height:25px;}
.customer_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -75px transparent; width:25px; height:25px;}
.info_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -100px transparent; width:25px; height:25px;}
.logout_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -125px transparent; width:25px; height:25px;}
.settings_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -150px transparent; width:25px; height:25px;}
.acquisition_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -175px transparent; width:25px; height:25px;}
.edit_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -200px transparent; width:25px; height:25px;}
.pdf_create_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -225px transparent; width:25px; height:25px;}
.pdf_view_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -250px transparent; width:25px; height:25px;}
.trash_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -275px transparent; width:25px; height:25px;}
.decline_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -300px transparent; width:25px; height:25px;}
.bell_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -325px transparent; width:25px; height:25px;}
.info_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -350px transparent; width:25px; height:25px;}
.columns_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -375px transparent; width:25px; height:25px;}
.p_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -400px transparent; width:25px; height:25px;}
.t_b_25 { background:url(../images/icons_25_25.png) scroll no-repeat 0 -425px transparent; width:25px; height:25px;}





.empty { background:url(../images/head_icons.png) scroll no-repeat 0 0 transparent; width:60px; height:50px;}
.diagram { background:url(../images/head_icons.png) scroll no-repeat 0 -50px transparent; width:60px; height:50px;}
.camera { background:url(../images/head_icons.png) scroll no-repeat 0 -100px transparent; width:60px; height:50px;}
.box { background:url(../images/head_icons.png) scroll no-repeat 0 -150px transparent; width:60px; height:50px;}
.place { background:url(../images/head_icons.png) scroll no-repeat 0 -200px transparent; width:60px; height:50px;}
.bag { background:url(../images/head_icons.png) scroll no-repeat 0 -250px transparent; width:60px; height:50px;}
.map { background:url(../images/head_icons.png) scroll no-repeat 0 -300px transparent; width:60px; height:50px;}
.house { background:url(../images/head_icons.png) scroll no-repeat 0 -350px transparent; width:60px; height:50px;}
.info { background:url(../images/head_icons.png) scroll no-repeat 0 -400px transparent; width:60px; height:50px;}
.skyline { background:url(../images/head_icons.png) scroll no-repeat 0 -450px transparent; width:60px; height:50px;}
.leads { background:url(../images/head_icons.png) scroll no-repeat 0 -500px transparent; width:60px; height:50px;}
.ps { background:url(../images/head_icons.png) scroll no-repeat 0 -550px transparent; width:60px; height:50px;}
.qm { background:url(../images/head_icons.png) scroll no-repeat 0 -600px transparent; width:60px; height:50px;}
.partner { background:url(../images/head_icons.png) scroll no-repeat 0 -650px transparent; width:60px; height:50px;}
.lawyer { background:url(../images/head_icons.png) scroll no-repeat 0 -700px transparent; width:60px; height:50px;}
.phone { background:url(../images/head_icons.png) scroll no-repeat 0 -750px transparent; width:60px; height:50px;}
.phone_plus { background:url(../images/head_icons.png) scroll no-repeat 0 -800px transparent; width:60px; height:50px;}
.phone_layer { background:url(../images/head_icons.png) scroll no-repeat 0 -850px transparent; width:60px; height:50px;}
.baw { background:url(../images/head_icons.png) scroll no-repeat 0 -900px transparent; width:60px; height:50px;}
.employee { background:url(../images/head_icons.png) scroll no-repeat 0 -950px transparent; width:60px; height:50px;}





